//fonts
$montserrat: "Montserrat", sans-serif;
$nunitoSans: "Nunito Sans", sans-serif;
$workSans: 'Work Sans', sans-serif;

// font_Size
$fsmall: 12px;
$fdef: 16px;
$fmed: 18px;
$flarge: 30px;
$fbig: 38px;

$fprice: 20px;
$freview: 24px;

//colors
$white: #fff;
$orange: #fa9730;
$grey: #f6f6f6;
$darkgrey: #e6e6e6;
$black: #141414;
$text: #202924;

//grid
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1100px;
$md1: $maxWidthContainer + 12px;
$md2: 1200px;
$md3: 992px;
$md4: 768px;
$md5: 560px;
