<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans&Work+Sans&display=swap" 
          rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/76ca3c8d37.js" crossorigin="anonymous"></script>
    <title>Enough water</title>
</head>
<body>
<!--Header-->
<header>
    <div class="header header_fix-body">
        <div class="container">
            <div class="header_content">
                <div class="header_logo">
                    <i class="fas fa-flask"></i>
                </div>
                <div class="header_burger">
                    <span></span>
                </div>
                <nav class="header_menu">
                    <ul class="header_list">
                        <li><a href="index.html" class="header_link">ГЛАВНАЯ</a></li>
                        <li><a href="about.html" class="header_link">ОБО МНЕ</a></li>
                        <li><a href="prices.html" class="header_link">ЦЕНЫ</a></li>
                        <li><a href="blog.html" class="header_link">БЛОГ</a></li>
                        <li><a href="contacts.html" class="header_link">КОНТАКТЫ</a></li>
                    </ul> 
                </nav> 
            </div>  
        </div>
    </div>
</header>

<main>
<!--Blog item-->
    <section class="blogItem">
        <div class="container">
            <h1>О &quot;вреде&quot; воды</h1>
            <div class="blogItem_content">
                <div class="blogItem_left">
                    <div class="blogItem_description">
                        <ul> <span>Среднесуточная норма ориентировочно 1.5-2 литра.⠀Что будет, если выпивать столько воды:⠀</span> 
                            <li>Чистая питьевая вода ускоряет метаболизм, а значит улучшается работа пищеварительной системы.</li>
                            <li>Вода &mdash; лучший ваш спутник при занятии спортом, ведь в процессе тренировок организм постоянно теряет воду.</li>
                            <li>Употребление воды способствует исчезновению кругов под глазами, сухости кожи, улучшает питание клеток</li>
                            <li>Грамотный питьевой режим нормализует аппетит.</li>
                        </ul>
                    </div>
                    <ul class="blogItem_info">
                        <li><strong>Раздел:</strong> Интересное</li>
                        <li><strong>Дата:</strong> 15.09.2020</li>
                    </ul>
                </div>
                <div class="blogItem_right">
                    <img src="../img/water.jpg" alt="water">
                </div>
            </div>
        </div>
    </section>

<!--Transition between blog items-->
    <section class="itemTransition">
        <div class="container">
            <ul class="itemTransition_content">
                <li><a href="crystal-gratings.html">&nbsp;&nbsp;<i class="fas fa-angle-left"></i><span>&nbsp;&nbsp;&nbsp;Предыдущая статья</span></li></a>
                <li><a href="blog.html"><i class="fas fa-th-large"></i></a> </li>
                <li><a href="#"><span>Следующая статья&nbsp;&nbsp;&nbsp;</span><i class="fas fa-angle-right"></i>&nbsp;&nbsp;</a></li>
            </ul>
        </div>
        
    </section>
</main>

<!--Footer-->
<footer>
    <div class="container content">
        <div class="copy">© Copyright 2021</div>
        <ul class="logo">
            <li><i class="fab fa-facebook"></i></li>
            <li><i class="fab fa-instagram-square"></i></li>
            <li><i class="fab fa-google-plus-g"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
        </ul>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous"></script>
<script src="../js/script.js"></script>
</body>
</html>