<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans&Work+Sans&display=swap" 
          rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/76ca3c8d37.js" crossorigin="anonymous"></script>
    <title>About me</title>
</head>
<body>
<!--Header-->
<header>
    <div class="header header_fix-body">
        <div class="container">
            <div class="header_content">
                <div class="header_logo">
                    <i class="fas fa-flask"></i>
                </div>
                <div class="header_burger">
                    <span></span>
                </div>
                <nav class="header_menu">
                    <ul class="header_list">
                        <li><a href="index.html" class="header_link">ГЛАВНАЯ</a></li>
                        <li><a href="about.html" class="header_link">ОБО МНЕ</a></li>
                        <li><a href="prices.html" class="header_link">ЦЕНЫ</a></li>
                        <li><a href="blog.html" class="header_link">БЛОГ</a></li>
                        <li><a href="contacts.html" class="header_link">КОНТАКТЫ</a></li>
                    </ul> 
                </nav> 
            </div>  
        </div>
    </div>
</header>

<!--Main content of the page-->
<main>
<!--banner-->
<div class="banner">
    <div class="container">
        <div class="banner_content">
            <h1>Мария Трофимова</h1>
            <div class="banner_text">
                Я - репетитор по химии. Моя основная специализация — углубленное изучение 
                и устранение пробелов в школьной программе для учеников 7-11 классов, 
                а также подготовка к вступительным экзаменам по химии.
            </div>
        </div>
    </div>
</div>

<!--About myself-->
<section class="aboutMyself">
    <div class="aboutMyself_content">
        <div class="aboutMyself_content-left"></div>
        <div class="aboutMyself_content-right">
            <div class="aboutMyself_container">
                <h2>Обо мне</h2>
                <div class="aboutMyself_text">
                    <p>В 2010 году я закончила Белорусский государственный технологический университет с дипломом химика.</p>
                    <p>Репетиторством занимаюсь с 2015 года.</p>
                    <p>Работа репетитора &mdash; большая ответственность. 
                    Я стараюсь постоянно совершенствовать свой уровень знаний, 
                    посещая различные курсы. </p>
                </div>
            </div>
            
        </div>
    </div> 
</section>

<!--Lessons-->
<section class="lessons">
    <div class="lessons_content">
        <div class="lessons_content-left">
            <div class="lessons_container">
                <h2>Мои занятия</h2>
                <div class="lessons_block">
                    <div class="lessons_text">
                        Курсы для школьников 7&dash;11 классы
                        <span>75%</span>
                    </div>
                    <div class="lessons_line">
                        <div style="width: 75%;"></div>
                    </div>
                </div>
                <div class="lessons_block">
                    <div class="lessons_text">
                        Индивидуальные занятия
                        <span>90%</span>
                    </div>
                    <div class="lessons_line" >
                        <div style="width: 90%;"></div>
                    </div>
                </div>
                <div class="lessons_block">
                    <div class="lessons_text">
                        Дистанционная форма обучения
                        <span>60%</span>
                    </div>
                    <div class="lessons_line" >
                        <div style="width: 60%;"></div>
                    </div>
                </div>    
            </div>
        </div>
        <div class="lessons_content-right"></div>      
    </div>   
</section>

<!--Numbers-->
<section class="numbers">
    <div class="container">
        <ul class="numbers_list">
            <li class="numbers_content">
                <div class="numbers_icons"><i class="fas fa-user"></i></div>
                <div class="numbers_text">
                    <span>68</span><br><p>подготовленных учеников </p>
                </div>
            </li>
             <li class="numbers_content">
                <div class="numbers_icons"><i class="fas fa-book-open"></i></div>
                <div class="numbers_text">
                    <span>1120</span><br><p>разобранных задач</p>
                </div>
            </li>
            <li class="numbers_content">
                <div class="numbers_icons"><i class="fas fa-chart-bar"></i></div>
                <div class="numbers_text">
                    <span>87</span><br><p>средний балл на ЦТ</p>
                </div>
            </li>
            <li class="numbers_content">
                <div class="numbers_icons"><i class="fas fa-star"></i></div>
                <div class="numbers_text">
                    <span>25</span><br><p>положительных отзывов</p>
                </div>
            </li>
           
        </ul>
    </div>
</section>

<!--Features-->
<section class="features">
    <div class="container">
        <ul class="features_content">
            <li class="features_principles">
                <input type="radio" name="folder" id="folder1" checked class="features_folder">
                <label for="folder1">Принципы моей работы</label>
                <ul class="features_text">
                    <li>четкая подача учебного материала</li>
                    <li>отработка теории непосредственно на занятиях</li>
                    <li>индивидуальный подход к каждому ученику</li>
                    <li>обеспечение обратной связи с учеником, обсуждение результатов</li>
                </ul>
            </li>
            <li class="features_profits">
                <input type="radio" name="folder" id="folder2" class="features_folder">
                <label for="folder2">Кому будут полезны занятия со мной</label>
                <ul class="features_text">
                    <li>ученикам, которым нужно повысить уровень знаний, наверстать упущенное</li>
                    <li>ребятам, для которых слова &ldquo;контрольная&rdquo; &sol; &ldquo;лабораторная&rdquo; 
                        звучат как приговор</li>
                    <li>абитуриентам для подготовки к вступительным экзаменам</li>
                </ul>
            </li>
        </ul>
    </div>

</section>

<!--Conclusion-->
<section class="conclusion">
    <div class="container">
        <div class="conclusion_content">
            <h2>Давайте работать вместе</h2>
            <div class="conclusion_text">
                Репетитор &mdash; это не только"инструмент" для подготовки к ЦТ, 
                это внимательный слушатель, мотиватор к знаниям и помощник 
                в решении сложных задач, и не только химических! Никогда не стоит 
                останавливаться на достигнутом. Главное &mdash; принимать новую информацию 
                и работать над собой. 
            </div>
            <button>Связаться со мной</button>
        </div>
    </div>

</section>
<!--Footer-->
<footer>
    <div class="container content">
        <div class="copy">© Copyright 2021</div>
        <ul class="logo">
            <li><i class="fab fa-facebook"></i></li>
            <li><i class="fab fa-instagram-square"></i></li>
            <li><i class="fab fa-google-plus-g"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
        </ul>
    </div>
</footer>

<!--Подключение jquery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous"></script>
<!--Подключение слайдера slick-->
<script src="../js/slick.min.js"></script>
<!--Подключение файла скриптов-->
<script src="../js/script.js"></script>
</body>
</html>