<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
          <link rel="preconnect" href="https://fonts.gstatic.com">
          <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans&Work+Sans&display=swap" 
                rel="stylesheet">
          <link rel="stylesheet" href="../css/style.css">
          <script src="https://kit.fontawesome.com/76ca3c8d37.js" crossorigin="anonymous"></script>
    <title>Prices</title>
</head>
<body>
<!--Header-->
<header>
    <div class="header header_fix-body">
        <div class="container">
            <div class="header_content">
                <div class="header_logo">
                    <i class="fas fa-flask"></i>
                </div>
                <div class="header_burger">
                    <span></span>
                </div>
                <nav class="header_menu">
                    <ul class="header_list">
                        <li><a href="index.html" class="header_link">ГЛАВНАЯ</a></li>
                        <li><a href="about.html" class="header_link">ОБО МНЕ</a></li>
                        <li><a href="prices.html" class="header_link">ЦЕНЫ</a></li>
                        <li><a href="blog.html" class="header_link">БЛОГ</a></li>
                        <li><a href="contacts.html" class="header_link">КОНТАКТЫ</a></li>
                    </ul> 
                </nav> 
            </div>  
        </div>
    </div>
</header>

<!--Main content of the page-->
<main>
    <section class="prices">
        <div class="prices_content container">
            <h1>Цены</h1>
            <div class="prices_text">
                Вы можете выбрать подходящий для Вас вариант
                обучения. Обратите внимание на скидки для абонементов!
            </div>
                <ul class="prices_options">
                    <li class="prices_item">
                        <div class="prices_figure">
                            <img src="../img/pupil.jpg" alt="pupil">
                            <div class="prices_caption">
                                курс &laquo;Школьник&raquo;
                            </div>
                        </div>
                        <ul class="prices_cost">
                            <li class="prices_cost-options">
                                <span>25 </span>рублей / 45 минут
                                <div class="prices_moreDetails">разовое занятие</div>
                            </li>
                            <li class="prices_cost-options">
                                <span>90 </span>рублей / 4 занятия
                                <div class="prices_moreDetails">экономия составит <span>10 </span>рублей </div>
                            </li>
                            <li class="prices_cost-options">
                                <span>160 </span>рублей / 8 занятий
                                <div class="prices_moreDetails">экономия составит <span>40 </span>рублей </div>
                            </li>
                            
                        </ul>
                    </li>
                    <li class="prices_item">
                        <div class="prices_figure">
                            <img src="../img/applicant.jpg" alt="applicant">
                            <div class="prices_caption">
                                курс &laquo;Абитуриент&raquo;
                            </div>
                        </div>
                        <ul class="prices_cost">
                            <li class="prices_cost-options">
                                <span>45 </span>рублей / 90 минут
                                <div class="prices_moreDetails">разовое занятие</div>
                            </li>
                            <li class="prices_cost-options">
                                <span>170 </span>рублей / 4 занятия
                                <div class="prices_moreDetails">экономия составит <span>10 </span>рублей </div>
                            </li>
                            <li class="prices_cost-options">
                                <span>320 </span>рублей / 8 занятий
                                <div class="prices_moreDetails">экономия составит <span>40 </span>рублей </div>
                            </li>
                        </ul>
                    </li>
                </ul>
        </div>
    </section>
</main>

<!--Footer-->
<footer>
    <div class="container content">
        <div class="copy">© Copyright 2021</div>
        <ul class="logo">
            <li><i class="fab fa-facebook"></i></li>
            <li><i class="fab fa-instagram-square"></i></li>
            <li><i class="fab fa-google-plus-g"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
        </ul>
    </div>
</footer>

<!--Подключение jquery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous"></script>
<!--Подключение слайдера slick-->
<script src="../js/slick.min.js"></script>
<!--Подключение файла скриптов-->
<script src="../js/script.js"></script>
</body>
</html>